<div class="container">

    <div class="row">
        <div class="col-4"  style="background-color:#aaa">
            <p>Esto es una prueba de bootstrap.1</p>
        </div>
        <div class="col-4"  style="background-color:#bbb">
            <div class="card">
              <div class="card-body">
                  <input type="text"  [(ngModel)]="placa" name="placa" placeholder="placa" >
                  <input type="text"  [(ngModel)]="date" name="date" placeholder="date" >
                  <input type="text"  [(ngModel)]="time"ng serve name="time" placeholder="time" >
                  <button type="submit" 
                          id="btn-login" 
                          class="btn btn-danger"
                          (click)="startPredictionByDate()">
                          Verificar
                  </button>

                <!--  <div class="input-group mb-3">                        
                    <div class="input-group-prepend">
                        <label class="input-group-text">F Activ Ini</label>
                    </div>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp2" [(ngModel)]="startDate"
                            (ngModelChange)="startDateBrowse($event)" 
                            ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                  </div> -->

              </div>
            </div>
        </div>
        <div class="col-4"  style="background-color:#ccc">
            <p>Esto es una prueba de bootstrap.3</p>
        </div>
    </div>
</div>
